$theme-colors: (
	"primary": #bb430b,
	"danger": rgb(0, 0, 0)
);

$border-radius: 15px;

// Required scss files
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";
// scss files that you use
@import "node_modules/bootstrap/scss/grid";
@import "node_modules/bootstrap/scss/buttons";
@import "node_modules/bootstrap/scss/forms";
@import "node_modules/bootstrap/scss/navbar";
@import "node_modules/bootstrap/scss/reboot";

.form-control {
	width: 80%;
	float: center;
    padding-left: 10px;
    color:rgb(41, 40, 40);
    font-weight: 500;
}
.form-control:focus{
    color:#000;
    font-weight: 501;
}
.form-group {
	margin-left: 10px;
}

.navbar {
	background-color: rgb(0, 0, 0);
	opacity: 0.8;
}
.navbar a.navbar-brand:hover {
	color: #bb430b;
}
.footer-section {
	opacity: 0.95;
	position: sticky;
	top:80px;

}
.btn-primary {
	padding-left: 10px;
	margin-left: 4px;
}

.row {
	justify-content: center;
}
.col-6 {
	margin-bottom: 10px;
	font-size: xx-large;
	max-width: 80%;
}
.btn2 {
	line-height: 2.5;
	width: 70%;
}

.input-group {
	width: 70%;
}
.label2 {
	width: 80%;
	align-content: center;
	text-align: center;
}

body {
	margin: 0;
	background-image: url("assets/images/hg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-blend-mode: normal;
}

.earth {
	position: relative;
	top: 15px;
	bottom: 0;
	right: 0;
	left: 0;
	align-content: center;
	margin-bottom: 35px;
	margin-top: 5px;
	margin-left: auto;
	margin-right: auto;
	width: 520px;
	height: 500px;
	background-image: url("assets/images/hgj.png");
	border-radius: 50%;
	background-size: cover;
	box-shadow: -20px -20px 50px 1px #000 inset, 0 0 20px 2px #000;
	animation: spin 12s linear infinite;
}

@keyframes spin {
	100% {
		background-position: 100%;
	}
}

@media screen and (max-width: 550px) {
	.earth {
		width: 85%;
		height: 270px;
    }
    body {
		background-size: auto;
	}
	.footer-section {
		bottom: -28vh;
    }
    h4{
        font-size: 5vw;
    }
}

.col-12 h1 {
	text-align: center;
	font-family: sans-serif;
	font-style: italic;
	font-weight: bold;
}
.footer-section {
	background: #151414;
	position: relative;
}
.carousel-inner {
    border-radius: 10px;
}

.copyright-area {
	background: #202020;
	padding: 20px 0;
}
.copyright-text p {
	margin: 0;
	font-size: 14px;
	color: #878787;
}
.copyright-text p a {
	color: #bb430b;
}
.footer-menu li {
	display: inline-block;
	margin-left: 20px;
}
.footer-menu li:hover a {
	color: #bb430b;
}
.footer-menu li a {
	font-size: 14px;
	color: #878787;
}

h4 {
	text-align: center;
	font-family: Monospace;
	font-style: italic;
	font-weight: 700;
	color: #bb430b;
	font-size: 4vw;
	padding: 10px 50px 0 50px;
}


.civils div{
    padding-left: 10px;
    text-align: left;
    font-size: 18px;
    font-weight: 500;
    font-family: Tahoma;
    padding-top: 20px;
    color: #000;
    border:1px sienna solid;
}